.experiences{
    background: linear-gradient(
90deg, rgba(52, 44, 73, 0.95), rgba(52, 44, 73, 0.95)),url('https://i.ibb.co/QDLy64x/skills-section-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media only screen and (max-width: 700px) {
    .experiences-image{
        height: 250px;
        width: 250px;
    }
  }
