.navbar-active{
    background-color: #24263b;
}

.nav-name{
    font-weight:bolder !important;
    color: white !important;
    font-family:Bradley Hand, cursive;
    font-size: 30px;
}

.nav-link{
    text-decoration: none;
    color: wheat !important;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
}
